* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px; }

header {
  background: url("../img/bg.jpg"), #019851;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover; }
  header .contenedor_logo_menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 25px 0; }
    header .contenedor_logo_menu .logo a {
      display: block; }
      header .contenedor_logo_menu .logo a img {
        vertical-align: top; }
    header .contenedor_logo_menu .menu {
      line-height: 50px;
      text-align: right; }
      header .contenedor_logo_menu .menu a {
        color: white;
        font-size: 18px;
        margin-left: 60px;
        text-decoration: none; }
        header .contenedor_logo_menu .menu a:hover {
          text-decoration: underline; }
  header .textos {
    color: white;
    margin: 200px 0;
    text-align: center; }
    header .textos .primera_linea,
    header .textos .segunda_linea {
      font-family: "Open Sans", Arial, sans-serif;
      font-weight: 300; }
    header .textos .primera_linea {
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 30px; }
    header .textos .segunda_linea {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 60px; }
    header .textos .contenedor-btns a {
      border: 2px solid white;
      border-radius: 4px;
      color: white;
      display: inline-block;
      font-weight: 600;
      margin: 0 10px;
      padding: 12px 0;
      text-align: center;
      text-decoration: none;
      width: 235px; }
      header .textos .contenedor-btns a:hover {
        background: white;
        color: #4f4f4f;
        text-decoration: none; }

.main .caracteristicas {
  padding: 70px 0; }
  .main .caracteristicas .titulo {
    color: black;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 70px;
    text-align: center; }
  .main .caracteristicas .caracteristica {
    text-align: center; }
    .main .caracteristicas .caracteristica .icono {
      margin-bottom: 30px;
      vertical-align: top; }
    .main .caracteristicas .caracteristica .primera_linea {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px; }
    .main .caracteristicas .caracteristica .parrafo {
      line-height: 28px;
      margin-bottom: 30px; }
.main .fotos {
  margin-bottom: 70px; }
  .main .fotos .foto {
    margin-bottom: 20px; }
    .main .fotos .foto .thumb img {
      border-radius: 3px;
      vertical-align: top;
      width: 100%; }
    .main .fotos .foto .titulo {
      font-size: 32px;
      font-weight: 300;
      line-height: 32px;
      margin-top: 70px;
      margin-bottom: 40px; }
      .main .fotos .foto .titulo.azul {
        color: #4facd3; }
      .main .fotos .foto .titulo.naranja {
        color: #ddb146; }
    .main .fotos .foto .parrafo {
      line-height: 28px; }
    .main .fotos .foto .derecha {
      text-align: right; }
.main .clientes {
  background: #2d353e;
  padding: 40px 0; }
  .main .clientes .titulo {
    color: white;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center; }
  .main .clientes .cliente {
    text-align: center; }
    .main .clientes .cliente a {
      display: block; }
.main .precios {
  background: url("../img/precios-bg.jpg"), #727171;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0; }
  .main .precios .titulo {
    color: white;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 70px;
    text-align: center; }
  .main .precios .plan {
    background: white;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 50px 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35); }
    .main .precios .plan .nombre {
      font-size: 32px;
      font-weight: 300;
      line-height: 32px;
      margin-bottom: 30px; }
    .main .precios .plan .precio {
      font-weight: 300;
      font-size: 48px;
      margin-bottom: 30px; }
    .main .precios .plan .caracteristicas {
      list-style: none;
      margin-bottom: 50px;
      padding: 0 20px; }
      .main .precios .plan .caracteristicas li {
        border-bottom: 1px solid #dedede;
        font-size: 18px;
        padding: 15px 0; }
    .main .precios .plan .btn {
      border-radius: 100px;
      display: inline-block;
      font-size: 16px;
      padding: 15px 0;
      text-align: center;
      width: 70%; }
    .main .precios .plan.verde .nombre,
    .main .precios .plan.verde .precio {
      color: #86b773; }
    .main .precios .plan.verde .btn {
      border: 2px solid #86b773;
      color: #86b773; }
      .main .precios .plan.verde .btn:hover {
        background: #86b773;
        color: white; }
    .main .precios .plan.active {
      background: #4c8dce;
      color: white; }
      .main .precios .plan.active .btn {
        border: 2px solid white;
        color: white; }
        .main .precios .plan.active .btn:hover {
          background: white;
          color: #4c8dce; }
    .main .precios .plan.naranja .nombre,
    .main .precios .plan.naranja .precio {
      color: #ddb146; }
    .main .precios .plan.naranja .btn {
      border: 2px solid #ddb146;
      color: #ddb146; }
      .main .precios .plan.naranja .btn:hover {
        background: #ddb146;
        color: white; }
.main .reviews {
  padding: 70px 0; }
  .main .reviews .titulo {
    color: #4facd3;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 70px;
    text-align: center; }
  .main .reviews .cliente {
    margin-bottom: 20px;
    overflow: hidden; }
    .main .reviews .cliente .foto {
      float: left;
      text-align: right;
      width: 20%; }
      .main .reviews .cliente .foto img {
        border-radius: 100%;
        max-width: 100px;
        vertical-align: top;
        width: 100%; }
    .main .reviews .cliente .review {
      float: left;
      margin-top: 20px;
      padding: 0 30px;
      width: 80%; }
      .main .reviews .cliente .review .texto {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px; }
      .main .reviews .cliente .review .nombre {
        color: #ddb146;
        font-size: 14px; }
    .main .reviews .cliente.derecha .foto {
      float: right;
      text-align: left; }
    .main .reviews .cliente.derecha .review {
      float: right;
      text-align: right; }

footer .direccion {
  background: #3c4045;
  color: white;
  padding: 30px 0; }
  footer .direccion .titulo {
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px; }
  footer .direccion .calle,
  footer .direccion .telefono,
  footer .direccion .correo {
    margin-bottom: 10px; }
  footer .direccion .logo img {
    margin-top: 70px; }
footer .social {
  text-align: center;
  padding: 20px 0; }
  footer .social a {
    background: black;
    border-radius: 100px;
    color: white;
    display: inline-block;
    font-size: 22px;
    margin: 0 20px;
    padding: 10px;
    width: 50px; }
    footer .social a:hover {
      text-decoration: none; }
    footer .social a.facebook {
      background: #3b5998; }
    footer .social a.twitter {
      background: #55acee; }
    footer .social a.youtube {
      background: #cd201f; }

@media screen and (max-width: 992px) {
  header .contenedor_logo_menu .logo {
    margin-bottom: 20px;
    text-align: center; }
  header .contenedor_logo_menu .menu {
    text-align: center; }
    header .contenedor_logo_menu .menu a {
      margin: 0 20px; }
  header .textos {
    font-size: 16px;
    margin: 50px 0; }
    header .textos .primera_linea {
      font-size: 1.5em; }
    header .textos .segunda_linea {
      font-size: 1.3em; }
    header .textos .contenedor-btns a {
      margin-bottom: 10px; }

  .main .fotos .foto .titulo {
    margin-top: 0; }
  .main .clientes .cliente {
    margin-bottom: 40px; } }
@media screen and (max-width: 768px) {
  .main .caracteristicas .caracteristica {
    margin-bottom: 40px; }
  .main .fotos .foto {
    text-align: center; }
    .main .fotos .foto .texto * {
      text-align: left; }
    .main .fotos .foto .texto p {
      margin-bottom: 10px; }
  .main .precios .precio {
    margin-bottom: 20px; }

  footer .direccion {
    text-align: center; }
    footer .direccion .logo img {
      margin-top: 20px; } }

/*# sourceMappingURL=styles.css.map */
