/* Selector universal */
* {

}

/* Selectores descendentes */
h1, h2, h3 {
  color: blue;
}

div p {
  font-size: 20px;
  color: black;
}

div p a {
  color: red;
}

/* Selectores por clases */
.grande {
  font-size: 28px;
}

/* Selectores por ID */
#rojo {
  color: red;
}