.caja {
  background: #21295c;
  height: 200px;
  transition: all 0.3s ease;
  width: 200px;
}

/*
  Velocidad de curva:
    -> ease: Inicio lento, despues rapido y termina lento
    -> linear: Misma velocidad de inicio a fin
    -> ease-in: Inicio lento
    -> ease-out: Final lento
    -> ease-in-out: Inicio lento y final lento
*/

.caja:hover {
  background: #9eb3c2;
  width: 400px;
}